@layer utilities {
  @-moz-document url-prefix() {
    body {
      scrollbar-width: none;
    }
  }
  ::-webkit-scrollbar {
    display: none
  }
  body {
    @apply font-sora bg-white text-sm text-black dark:text-white dark:bg-dark-100;
  }
  body:before,
  body:after {
    content: "";
    filter: blur(200px);
    @apply fixed w-40 h-40 rounded-full pointer-events-none bg-primary hidden;
  }
  body:before {
    @apply top-0 right-0;
  }
  body:after {
    @apply bottom-0 left-0;
  }
  .container {
    @apply w-container mx-auto px-4 lgx:w-full;
  }
}